{% extends "layouts/oidv-nav-help.html" %}

{% set pageQuestion = "Call us to confirm your identity" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageQuestion }}
      </h1>

      <p>It’s important you confirm your identity so that we can pay you straight away if your claim is successful. We check everyone's identity to protect from fraud.</p>

      <p>You’ll need to give some details about yourself, for example:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name</li>
        <li>your National Insurance number, if you have one (you can find this on letters about tax, pensions and benefits)</li>
        <li>your date of birth</li>
        <li>your address</li>
      </ul>

      <p>
        You’ll also need to answer some questions about yourself or events in your life, so that we can confirm your identity.
      </p>

      <h2 class="govuk-heading-m">
        Contact DWP
      </h2>

      <p>
        Telephone: 0800 121 6279<br>
        Textphone: 0800 121 4493
      </p>

      <p>
        <a href="">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222
      </p>

      <p>
        <a href="">Video relay service</a> for British Sign Language users. <a href="">Check you can use the video relay service</a>
      </p>

      <p>
        Open 9am to 5pm, Monday to Friday
      </p>

      <p>
        Calls to 0800 numbers are free from landlines and mobiles.
      </p>

      <h2 class="govuk-heading-m">
        If you want to confirm your identity online
      </h2>

      <p>
        <a href="">Start your identity check again</a>
      </p>

      <h2 class="govuk-heading-m">
        If you want to upload more supporting evidence
      </h2>

      <p>
        <a href="">Sign in to the Apply for PIP service</a>
      </p>

      <p>
        You will need your email address, mobile phone and password to sign in to PIP. You will not need to answer the questions about your daily living activities or mobility again.
      </p>

    </div>
  </div>
{% endblock %}
