{% extends "layouts/oidv-nav.html" %}

{% set pageQuestion = "Check your answers" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="confirmation" method="post">

        <h1 class="govuk-heading-l">
          Check your answers
        </h1>
        <!-- Help with applying start -->

        <dl class="govuk-summary-list">
          <h2 class="govuk-heading-m">Help with applying</h2>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you need help from someone else to communicate with us?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if you need help communicating</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you usually need help from someone else to fill in forms or understand letters?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if you need help filling in forms or understanding letters</span>
              </a>
            </dd>
          </div>
        </dl> <!-- govuk-summary-list -->
        <!-- help with applying end -->

        <!-- personal deatils start -->
        <dl class="govuk-summary-list">
          <h2 class="govuk-heading-m">Personal details</h2>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Jerry Bakewell
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ123456C
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> National Insurance number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 2000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild street<br>
              London<br>
              SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Can we write to you at this address?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if we can write to you at this address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="govuk-summary-list__value">
              07777777777
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> mobile number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alternative number
            </dt>
            <dd class="govuk-summary-list__value">
              07888888888
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> alternative number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Textphone
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> textphone</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to receive text messages to update you on the progress of your claim?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if you want to receive text messages</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Can you provide bank, building society or credit union account details?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if you can provide bank, building society or credit union account details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on the account
            </dt>
            <dd class="govuk-summary-list__value">
              Jerry Bakewell
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name on the account</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              44-09-28
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> sort code</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              123456
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> account number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building society roll number (if you have one)
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> building society roll number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you need communications in another format?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if you need communications in another format</span>
              </a>
            </dd>
          </div>
        </dl> <!-- govuk-summary-list -->
        <!-- personal deatils end -->

        <!-- your nationality start -->

        <dl class="govuk-summary-list">
          <h2 class="govuk-heading-m">Your nationality</h2>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your nationality?
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have you been in the UK for at least 2 of the last 3 years?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if you have been in the UK for at least 2 of the last 3 years</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do any of the following apply to you or a family member?
            </dt>
            <dd class="govuk-summary-list__value">
              Not received benefits or pension payments, or paid into insurance connected with work in the EEA or Switzerland
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> statement about your family</span>
              </a>
            </dd>
          </div>
        </dl> <!-- govuk-summary-list -->
        <!-- your nationality end -->

        <!-- your health start -->
        <dl class="govuk-summary-list">
          <h2 class="govuk-heading-m">Your health</h2>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you agree that your health and care professionals can share relevant information about your health conditions
              to support your claim?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes, I agree
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if you agree that your health and care professionals can share relevant information about your health conditions</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Health or care professional name
            </dt>
            <dd class="govuk-summary-list__value">
              Dr. Pepper<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Their details
            </dt>
            <dd class="govuk-summary-list__value">
              GP<br>
              07716616161<br>
              <br>
              Surgery name<br>
              Street<br>
              London<br>
              SE23 6FH<br>
              15 September 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> their details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are there any other health or care professionals we can contact?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if there are other health or care professionals</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you currently staying in any of these places?
            </dt>
            <dd class="govuk-summary-list__value">
              No, none of these
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> if you are in hospital</span>
              </a>
            </dd>
          </div>
        </dl> <!-- govuk-summary-list -->
        <!-- your health end -->

        <input type="submit" class="govuk-button" data-module="govuk-button" value="Save and continue" id="submit">

      </form>

    </div>
  </div>

{% endblock %}
