{% extends "layouts/main.html" %}

{% block pageTitle %}
Design iteration for UR7 – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Design iteration for UR7</h1>

    <h2 class="govuk-heading-m">Prototype</h2>

    <p>The prototype has three versions of the IDV speed bump page, prepared for the unmoderated usability testing.</p>
    <p>This is an Option F iteration.</p>

    <p class="govuk-body-s">
      Version 7, May 2023
    </p>

    <h2 class="govuk-heading-m">Prototype content</h2>

    <ul class="govuk-list">
      <p>
        <strong>Version A</strong>
      </p>
      <li>
        <a class="govuk-link" href="version-a/check-identity">We need to check your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="version-a/call-to-confirm-identity">Call us to confiorm your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="version-a/you-are-leaving-pip">You are leaving PIP</a>
      </li>
      <li>
        <a class="govuk-link" href="version-a/dth-registration">DTH registration</a>
      </li>
    </ul>

    <a href="/id-verification/v7/version-a/check-identity" class="govuk-button govuk-button">View prototype A</a>

    <ul class="govuk-list">
      <p>
        <strong>Version B</strong>
      </p>
      <li>
        <a class="govuk-link" href="version-b/check-identity">We need to check your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="version-b/call-to-confirm-identity">Call us to confiorm your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="version-b/you-are-leaving-pip">You are leaving PIP</a>
      </li>
      <li>
        <a class="govuk-link" href="version-b/dth-registration">DTH registration</a>
      </li>
    </ul>

    <a href="/id-verification/v7/version-b/check-identity" class="govuk-button govuk-button">View prototype B</a>

    <ul class="govuk-list">
      <p>
        <strong>Version C</strong>
      </p>
      <li>
        <a class="govuk-link" href="version-c/check-identity">We need to check your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="version-c/call-to-confirm-identity">Call us to confiorm your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="version-c/you-are-leaving-pip">You are leaving PIP</a>
      </li>
      <li>
        <a class="govuk-link" href="version-c/dth-registration">DTH registration</a>
      </li>
    </ul>

    <a href="/id-verification/v7/version-c/check-identity" class="govuk-button govuk-button">View prototype C</a>

  </div>
</div>

{% endblock %}
