{% extends "layouts/oidv-dth.html" %}

{% set pageQuestion = "Register" %}

{% block pageTitle %}
  {{ pageQuestion }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageQuestion }}
      </h1>

      <p>Create an account so you can sign in securely each time you visit.</p>

      <div class="govuk-inset-text">
        <a href="sign-in">Sign in if you have already created an account</a>
      </div>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a mobile phone</li>
      </ul>

      <p>We will send security codes to your email and phone to check they belong to you.</p>

      {{ govukButton({
        text: "Continue",
        href: "email-address"
      }) }}

      <p>
        <a href="">I do not have this information</a>
      </p>

    </div>
  </div>
{% endblock %}
