{% extends "layouts/emailv2.html" %}

{% block header %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-container-centred govuk-email-container">

      {{ govukHeader({
        homepageUrl: "#"
      }) }}

      <div class="govuk-width-container govuk-email-content">

        <h1 class="govuk-heading-m">Registration successful<h1>

        <p>Thank you for registering your details with us.</p>

        <p>Your registration for your chosen service was successful. This means you do not need to register again when you return to access the service online.</p>

        <h2 class="govuk-heading-s">What you should do next</h2>

        <ol class="govuk-list govuk-list--number">
          <li>Go to service sign in page: <a href="choose-your-service">https://www.apply-for-pip.gov.uk/register/choose-your-service</a></li>
          <li>Choose the service you wish to access.</li>
          <li>Choose the option to sign in. Enter the same email address and password you previously used to register for the service.</li>
          <li>A code will be sent to your mobile phone number so we can confirm it is you.</li>
          <li>You will then be taken to your service home page.</li>
        </ol>

        <p>Best Regards<br>
        DWP</p>

        <p>Please do not reply to this message. DWP will never ask you to send any usernames, passwords, personal, health, medical, or bank account information via email. Any email sent in response will be deleted without being read.</p>

      </div>

      {{ govukFooter({}) }}

    </div>

  </div>

{% endblock %}

{% block footer %}{% endblock %}
