{% extends "layouts/emailv2.html" %}

{% block header %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-container-centred govuk-text-container">

      <div class="govuk-width-container">

        <div class="govuk-text-content">

          <p>DWP PIP: This is a reminder to confirm your identity for your Personal Independence Payment (PIP) claim.</p>

          <p>It’s important you confirm your identity so that we can pay you straight away if your claim is successful.</p>

          <p>Confirm your identity online:<br><a href="">https://www.apply-for-pip.dwp.gov.uk/authenticate</a></p>

          <p>
            Call us to confirm your identity:<br><br>
            Telephone: 0800 171 2169<br>
            Textphone: 0800 121 4493<br>
            Open 9am to 5pm, Monday to Friday
          </p>

        </div>

      </div>

    </div>

  </div>

  <a class="usability-testing-link" href="email"><span class="govuk-visually-hidden">Next step</span></a>

{% endblock %}

{% block footer %}{% endblock %}
