{% extends "layouts/oidv.html" %}

{% set pageQuestion = "For your security, we signed you out" %}

{% block pageTitle %}
  {{ pageQuestion }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageQuestion }}
      </h1>

      <p>We signed you out because you have not saved your progress for 60 minutes.</p>
      <p>We saved the answers you entered up to when you last saved your progress.</p>

      {{ govukButton({
        text: "Sign in",
        href: "PIP-your-email-address"
      }) }}

    </div>
  </div>

{% endblock %}
