{% extends "layouts/main.html" %}

{% block pageTitle %}
Design iteration for zero confidence V1 UR – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Design iteration for zero confidence V2 - Part A</h1>

    <h2 class="govuk-heading-m">Prototype</h2>

    <p>We tested the user journey for scenario 4b. We asked participants to go through PIP eligibility and registration, and complete PIP1 and part of PIP2.</p>
    <p>We asked users to sign out partway through PIP2, so that we could then ask them to return partway through an application in a follow-up UR session.</p>
    <p>The prototype used for testing is Team Goldcrests'It is the End to End journey.</p>

    <p class="govuk-body-s">
      Zero confidence version 2 - Part A, July 2023
    </p>

    <a href="https://pip-starting.herokuapp.com/apply-for-pip/govuk/how-to-claim" class="govuk-button govuk-button">View prototype</a>

  </div>
</div>

{% endblock %}
