{% extends "layouts/main.html" %}

{% block pageTitle %}
Design iteration for UR3 – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Design iteration for UR3</h1>

    <h2 class="govuk-heading-m">Prototype</h2>

    <p>We tested the DTH OIDV journey with KBV uplift. We tested a new version of PIP2 task list that includes PIP1 and OIDV.</p>

    <p class="govuk-body-s">
      Version 3, September 2022
    </p>

    <a href="/id-verification/v3/guide" class="govuk-button govuk-button">View prototype</a>

    <h2 class="govuk-heading-m">Prototype content</h2>

    <p>
      <strong>Apply for PIP and OIDV screens</strong>
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="guide">Personal Independence Payment (PIP) guide page</a>
      </li>
      <li>
        <a class="govuk-link" href="email">Registration email</a>
      </li>
      <li>
        <a class="govuk-link" href="intro-question">Intro question: Are you using the Apply for PIP service online for the first time?</a>
      </li>
      <li>
        <a class="govuk-link" href="sign-in">Sign in</a>
      </li>
      <li>
        <a class="govuk-link" href="sign-in-verification">Sign in mobile verification</a>
      </li>
      <li>
        <a class="govuk-link" href="register-start">Register</a>
      </li>
      <li>
        <a class="govuk-link" href="email-address">Enter your email address</a>
      </li>
      <li>
        <a class="govuk-link" href="email-address-verification">Check your email</a>
      </li>
      <li>
        <a class="govuk-link" href="create-password">Create your password</a>
      </li>
      <li>
        <a class="govuk-link" href="mobile-phone-number">Enter your mobile phone number</a>
      </li>
      <li>
        <a class="govuk-link" href="mobile-phone-verification">Check your phone</a>
      </li>
      <li>
        <a class="govuk-link" href="registration-complete">Registration complete</a>
      </li>
      <li>
        <a class="govuk-link" href="signed-in">You are now signed in</a>
      </li>
      <li>
        <a class="govuk-link" href="pip1-start">Apply for PIP start page</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/add-support-communicating">PIP1: Do you need help from someone else to communicate with us?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/add-support">PIP1: Do you need help to fill in forms or understand letters?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/name">PIP1: Your name</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/nino">PIP1: Your National Insurance number</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/date-of-birth">PIP1: What is your date of birth?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/address">PIP1: Your address</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/contact-details">PIP1: Your contact details</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/nationality">PIP1: What is your nationality?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/living-in-gb">PIP1: Have you been in the UK for at least 2 of the last 3 years?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/eu-question">PIP1: Do any of the following apply to you or a family member?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/about_your_health/condition-new-2">PIP1: Enter a physical or mental health condition or disability you have</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/about_your_health/hcp-question">PIP1: Can the Department for Work and Pensions contact your health and care professionals for information about you?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/about_your_health/consent">PIP1: Do you agree that your health and care professionals can share relevant information about your health conditions to support your claim?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/about_your_health/hcp-1">PIP1: Health or care professional details</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/about_your_health/hcp-1-popup">PIP1: Sign out pop up</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/about_your_health/hcp-1-popup-error">PIP1: Sign out pop up - error message</a>
      </li>
      <li>
        <a class="govuk-link" href="Sign-out">You have signed out</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/about_your_health/hcp-another">PIP1: Are there any other health or care professionals we can contact?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/in-hospital">PIP1: Are you currently staying in any of these places?</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/check-answers">PIP1: Check your answers</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip1/confirmation">Stage one submitted</a>
      </li>
      <li>
        <a class="govuk-link" href="task-list-1">PIP2 task list - first task completed</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/name">OIDV: What is your name?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/date-of-birth">OIDV: What is your date of birth?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/postcode">OIDV: What is your postcode?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/id-verification-start">OIDV: We need to check your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/your-details">OIDV: Enter your details</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/choose-2-items">OIDV: Choose 2 items we can ask you about</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/choose-2-items-error">OIDV: Choose 2 items we can ask you about - error message</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/doc-verification-finish">OIDV: We need more information before we can confirm your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/id-verification-finish">OIDV: Identity check complete</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip2/list-1">PIP2 task list - second task completed</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip2/list-2">PIP2 task list - all task completed</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip2/apply/declaration">Declaration</a>
      </li>
      <li>
        <a class="govuk-link" href="live-pip2/apply/confirmation">Information sent</a>
      </li>
    </ul>

    <p>
      <strong>KBV questions</strong>
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="dth/kbv-child-dob">What is your eldest child's date of birth?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-child-name">What is your eldest child's full name?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-landline">What is your landline telephone number?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-mobile">What is your mobile telephone number?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-other-benefits">Which one of these benefits have you claimed previously?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-partner-dob">What is your partner's date of birth?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-partner-nino">What is your partner's National Insurance number?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-previous-address">What was your previous address?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-previous-name">What was your previous last name?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-claim-start-date">What is the claim start date for the benefit you currently receive?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-post-office-address">What is the address of the post office where you receive your current benefit?</a>
      </li>
      <li>
        <a class="govuk-link" href="dth/kbv-post-office">Are you restricted to the use of a single post office?</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
