{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/id-verification/v1/sign-in",
  serviceName: "Apply for Personal Independence Payment (PIP)",
  serviceUrl: "/",
  containerClasses: "govuk-width-container",
  navigation: [
    {
      href: "#1",
      text: "Help and contact"
    },
    {
      href: "/id-verification/optionf-v1/live-pip2/apply/signed-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "prototype"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}
